.grid.container .col-1 {
    height: 90vh;
    background: #fff2fc;
}
.grid.container .col-1::after{
    content: '';
    display: block;
    height: 100%;
    background: #ffdbf7;
}

nav.nav {
    position: relative;
    background-color: #35CB67;
}
.nav-holder {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-logo-wrapper {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
a.nav-logo {
    display: block;
    width: 12rem;
    max-width: 12rem;
}

.nav-list-wrapper {
    display: none;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.nav-list-wrapper.open {
    display: block;
}
@media (min-width: 992px) {
    li.nav-list-item {
        border-bottom: none !important;
    }
    li.nav-list-item a:hover{
        border-bottom: 5px solid #35CB67;
    }

    .nav-logo-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        background: #35CB67;
        border-radius: 0 0 16px 16px;
        padding: 1.25rem;
    }
    .nav.nav {
        background-color: #f2f2f2;
    }
    .nav-list-wrapper {
        display: block;
        margin-left: auto;
        width: auto;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

ul.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
li.nav-list-item {
    border-bottom: 1px solid gray;
    font-family: 'Lato', sans-serif;
    display: block;
    flex: 0 0 100%;
    margin-bottom: 1rem;
    width: 100%;
    text-transform: uppercase;
}

li.nav-list-item a{
    text-decoration: none;
    color: black !important;
}

li.nav-list-item:first-of-type {
    margin-top: 1rem;
}
li.nav-list-item:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    li.nav-list-item {
        flex: 0 0 auto;
        margin-bottom: 0;
        width: auto;
    }
    li.nav-list-item:not(:first-of-type) {
        padding-left: 3rem;
    }

    /* Ako dropdown nije absolute */
    li.nav-list-item:first-of-type {
        margin-top: 0;
    }
}